  /* GENERAL SETTINGS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
  box-shadow: 0 4px 5px 0 #000;
  height: 950px;
  margin: 0 auto;
  padding-top: 50px;
  width: 1060px;
}

  /* HEADER */
.logo {
  background-image: url("../img/logo.png");
  height: 40px;
  margin-left: 45px;
  width: 145px;
}

  /* NAV */
nav {
  background: linear-gradient(to top, #444343, #5e5e5e);
  height: 40px;
  margin-left: 46px;
  margin-top: 40px;
  width: 966px;
}

nav
a {
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000;
  width: 100px;
}

nav
a:first-child {
  margin-left: 25px;
}

nav
a:hover {
  background: linear-gradient(to top, #2e2e2e, #4a4a4a);
  box-shadow: 0 1px 1px 0 #fff;
}

  /* MAIN */
main {
  margin-left: 46px;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
}

aside {
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  float: left;
  height: 240px;
  width: 240px;
}

aside
a {
  border-bottom: 1px solid #c8c8c8;
  color: #656363;
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  padding-left: 22px;
  text-align: left;
  text-decoration: none;
}

aside
a:hover {
  color: #2c2b2b;
  font-weight: bold;
  padding-left: 35px;
}

.content {
  height: 670px;
  margin-left: 289px;
  width: 678px;
}

img {
  height: 307px;
  width: 500px;
}

figure {
  background: url("../img/image.png") no-repeat center;
  border: 1px solid #c8c8c8;
  display: block;
  height: 400px;
  text-align: center;
  width: 678px;
}

.content
p {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  margin: 39px 24px;
}

  /* FOOTER */

footer {
  background-color: #e1e1e1;
  height: 40px;
  margin-bottom: 60px;
  margin-left: 46px;
  width: 966px;
}

footer
a {
  color: #2c2c2c;
  display: inline-block;
  float: left;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  margin-left: 25px;
  text-decoration: none;
}

footer
a:hover {
  text-decoration: underline;
}

footer
p {
  color: #2c2c2c;
  float: right;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 40px;
  margin-right: 26px;
}
